*{
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
.clearfix{
    overflow: auto;
}
body html{
    /*max-width: 960px;*/
    background-color: #fff;
    margin: 0;
}
header{
    background-color: grey;
    width: 100%;
}

main{

}
section{

}
footer{
    text-align: center;
    background-color: black;
    color: #fff;
    margin-bottom: 0;

}
/*Styling of the banner section*/
.banner-intro{
    background: url(../images/background.jpg) no-repeat center center;
    background-size: cover;
    margin: 0;
}
.banner-text{
    margin: 0 auto;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px black;
    padding: 100px;
    font-size: 50px;
}
/*Styling of the pricing options*/
.price-opt{
    /*text-align: center;*/
}

.column{
    text-align: center;
    overflow: hidden;
    margin: 30px;
}
.box{
    width: 275px;
    height: 500px;
    background-color: grey;
    margin-right: 15px;
    display: inline-block;
    /*padding-top: 10px;*/
    color: #fff;
}
/*Styling of Inner Boxes*/
.innerbox{
    margin: 0 auto;
    /*border: 1px solid grey;*/
    text-align: center;
}
.innerbox1{
    height: 10%;
    padding-top: 30px;
    letter-spacing: 2px;
}
.innerbox2{
    height: 25%;
    padding-top: 25px;
    font-size: 70px;
}
.innerbox3{
    height: 10%;
}

.innerbox-feat{
    height: 6.6%;
    padding-top: 5px;
    background-color: #F7F7F7;
    color: #000;
    border: 1px solid grey;
}
.innerbox10{
    height: 12%;
    padding: 20px;
    border-radius: 30px;
    margin-top: 10px;
    /*background-color: transparent;*/
    border: 2px solid black;
}
.innerbox-top{
    background-color: green;
}
.innerbox-top2{
    background-color: blue;
}
.innerbox-top3{
    background-color: black;
}
/*Styling of the support section*/
.support{
    width: 960px;
    margin: 0 auto;
}

.col-sup{
    display: inline-block;
    width: 50%;
    float: left;
    padding: 20px;
}


/*Styling of the links*/
a {
    text-decoration: none;
    color: black;
    color: rgba(0,0,0, .35);
}
.ftext{
    color: grey;
    text-decoration: none;
}
