*{
    box-sizing: border-box;
    /*border: 1px solid grey;*/
}

body{
    /*max-width: 960px;*/
}
header{
    background-color: grey;
}

main{

}
section{

}
footer{
    text-align: center;
}
/*Styling of the banner section*/
.banner-intro{
    background: url(../images/background.jpg) no-repeat center center;
    background-size: cover;
    margin: 0;
}
.banner-text{
    margin: 0 auto;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px black;
    padding: 100px;
}
/*Styling of the pricing options*/
.price-opt{
    text-align: center;
}

.grid{
    margin: 30px auto;
}
.column{
    margin: auto;
}
.box{
    width: 275px;
    height: 500px;
    background-color: red;
    margin-right: 15px;
    display: inline-block;
}


/*Styling of the links*/
a {
    text-decoration: none;
    color: black;
    color: rgba(0,0,0, .35);
}
